<ion-nav [root]="rootPage" #mainNav></ion-nav>
<ion-menu [content]="mainNav">
    <ion-content>
        <ion-list>
            <ion-item menuClose>Close Menu</ion-item>
            <ion-item>Hello</ion-item>
        </ion-list>
    </ion-content>
</ion-menu>